@mixin border-1px($rgba) {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $rgba;
}

@mixin border-top-1px($rgba) {
  position: relative;
  &::before {
    @include border-1px($rgba);
    top: 0;
  }
}

@mixin border-bottom-1px($rgba) {
  position: relative;
  &::after {
    @include border-1px($rgba);
    bottom: 0;
  }
}

@mixin bg-url($url) {
  background-image: url($url + '@2x.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
